In [7]:
import pandas as pd


# 1) Load your dataset
path_in  = "hotel_bookings.csv"                 # <- change if needed
path_out = "hotel_bookings_cleaned.csv"
df = pd.read_csv(path_in)

print(f"Shape: {df.shape[0]:,} rows × {df.shape[1]} columns\n")

# 2) Missing values by column (count & %)
na_count = df.isna().sum().sort_values(ascending=False)
na_pct = (df.isna().mean() * 100).round(2).sort_values(ascending=False)
missing_summary = pd.DataFrame({"missing_count": na_count, "missing_pct": na_pct})
print("Missing values by column:")
print(missing_summary[missing_summary["missing_count"] > 0])

# Quick totals
total_missing_cells = int(df.isna().sum().sum())
rows_with_any_na = int(df.isna().any(axis=1).sum())
print(f"\nTotal missing cells: {total_missing_cells:,}")
print(f"Rows with ≥1 missing value: {rows_with_any_na:,}\n")

# 3) Exact duplicate rows (across all columns)
dup_count = int(df.duplicated(keep=False).sum())
unique_rows = df.drop_duplicates().shape[0]
print(f"Exact duplicate rows (counting all duplicates): {dup_count:,}")
print(f"Unique rows after dropping duplicates: {unique_rows:,}\n")

# Preview some duplicate rows (if any)
if dup_count > 0:
    dup_preview = df[df.duplicated(keep=False)]
    print("Sample duplicate rows:")
    print(dup_preview.head(10))

Shape: 119,390 rows × 32 columns

Missing values by column:
          missing_count  missing_pct
agent             16340        13.69
children              4         0.00
company          112593        94.31
country             488         0.41

Total missing cells: 129,425
Rows with ≥1 missing value: 119,173

Exact duplicate rows (counting all duplicates): 40,165
Unique rows after dropping duplicates: 87,396

Sample duplicate rows:
            hotel  is_canceled  lead_time  arrival_date_year  \
4    Resort Hotel            0         14               2015
5    Resort Hotel            0         14               2015
21   Resort Hotel            0         72               2015
22   Resort Hotel            0         72               2015
39   Resort Hotel            0         70               2015
43   Resort Hotel            0         70               2015
132  Resort Hotel            1          5               2015
138  Resort Hotel            1          5               2015
198  Resort Hotel            0          0               2015
200  Resort Hotel            0          0               2015

    arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
4                 July                        27                          1
5                 July                        27                          1
21                July                        27                          1
22                July                        27                          1
39                July                        27                          2
43                July                        27                          2
132               July                        28                          5
138               July                        28                          5
198               July                        28                          7
200               July                        28                          7

     stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
4                          0                     2       2  ...    No Deposit
5                          0                     2       2  ...    No Deposit
21                         2                     4       2  ...    No Deposit
22                         2                     4       2  ...    No Deposit
39                         2                     3       2  ...    No Deposit
43                         2                     3       2  ...    No Deposit
132                        1                     0       2  ...    No Deposit
138                        1                     0       2  ...    No Deposit
198                        0                     1       1  ...    No Deposit
200                        0                     1       1  ...    No Deposit

     agent company days_in_waiting_list customer_type     adr  \
4    240.0     NaN                    0     Transient   98.00
5    240.0     NaN                    0     Transient   98.00
21   250.0     NaN                    0     Transient   84.67
22   250.0     NaN                    0     Transient   84.67
39   250.0     NaN                    0     Transient  137.00
43   250.0     NaN                    0     Transient  137.00
132  240.0     NaN                    0     Transient   97.00
138  240.0     NaN                    0     Transient   97.00
198  240.0     NaN                    0     Transient  109.80
200  240.0     NaN                    0     Transient  109.80

     required_car_parking_spaces  total_of_special_requests  \
4                              0                          1
5                              0                          1
21                             0                          1
22                             0                          1
39                             0                          1
43                             0                          1
132                            0                          0
138                            0                          0
198                            0                          3
200                            0                          3

     reservation_status reservation_status_date
4             Check-Out              2015-07-03
5             Check-Out              2015-07-03
21            Check-Out              2015-07-07
22            Check-Out              2015-07-07
39            Check-Out              2015-07-07
43            Check-Out              2015-07-07
132            Canceled              2015-07-01
138            Canceled              2015-07-01
198           Check-Out              2015-07-08
200           Check-Out              2015-07-08

[10 rows x 32 columns]

In [2]:
# Drop exact duplicates across all columns
before = len(df)
df2 = df.drop_duplicates(keep="first").reset_index(drop=True)
after = len(df2)

print(f"Removed {before - after} duplicate rows. New shape: {df2.shape}")

Removed 31994 duplicate rows. New shape: (87396, 32)

In [5]:
# 2) Missing values by column (count & %)
na_count = df2.isna().sum().sort_values(ascending=False)
na_pct = (df2.isna().mean() * 100).round(2).sort_values(ascending=False)
missing_summary = pd.DataFrame({"missing_count": na_count, "missing_pct": na_pct})
print("Missing values by column:")
print(missing_summary[missing_summary["missing_count"] > 0])

# Quick totals
total_missing_cells = int(df2.isna().sum().sum())
rows_with_any_na = int(df2.isna().any(axis=1).sum())
print(f"\nTotal missing cells: {total_missing_cells:,}")
print(f"Rows with ≥1 missing value: {rows_with_any_na:,}\n")

Missing values by column:
Empty DataFrame
Columns: [missing_count, missing_pct]
Index: []

Total missing cells: 0
Rows with ≥1 missing value: 0

In [4]:
# 1) Fill 0 for adult/adults, children, company
numeric_fill_cols = ["agent", "children", "company"]
for col in numeric_fill_cols:
    if col in df2.columns:
        # coerce to numeric first (company may be string IDs)
        df2[col] = pd.to_numeric(df2[col], errors="coerce").fillna(0)
        # keep as integer if possible
        try:
            df2[col] = df2[col].astype("Int64")
        except Exception:
            pass  # if it can't be integer, leave as numeric

# 2) Fill mode for country
if "country" in df2.columns:
    mode_vals = df2["country"].mode(dropna=True)
    mode_value = mode_vals.iloc[0] if not mode_vals.empty else "Unknown"
    df2["country"] = df2["country"].fillna(mode_value).astype(str)

In [8]:
# Save
df2.to_csv(path_out, index=False)
#print(f"Filled missing values and saved to: {path_out}")

Filled missing values and saved to: hotel_bookings_cleaned.csv